body {
    margin: 0;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif; /* Assurez-vous d'importer cette police */
    background: #1a1a1d;
    color: #f5f5f5;
}

#gameCanvas {
    display: block;
    width: 100vw;
    height: 100vh;
}

#gameOver {
    display: none;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #cf3d3d; 
    text-shadow: none;
    padding: 20px; 
    background: rgba(26, 26, 29, 0.85); 
    border-radius: 5px;
}

#gameOver h1 {
    font-size: 3.5rem;
    font-family: 'arial black', sans-serif;
    margin-bottom: 0.5rem;
}

#gameOver button {
    margin-top: 30px;
    padding: 10px 25px;
    font-size: 1.1rem;
    font-weight: bold;
    background: #4e4e50;
    border: 2px solid #cf3d3d;
    color: #f5f5f5;
    cursor: pointer;
    border-radius: 3px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); 
    transition: background 0.2s, border-color 0.2s;
    text-transform: uppercase;
}

#gameOver button:hover {
    background: #3f72af;
    border-color: #3f72af;
    transform: translateY(-1px);
}
#gameOver p {
    font-size: 1.5rem;
    color: #f5f5f5;
    margin: 10px 0;
}

#scoreDisplay {
    position: absolute;
    top: 20px;
    right: 20px;
    background: rgba(26, 26, 29, 0.8);
    padding: 15px 25px;
    border-radius: 10px;
    border: 2px solid #cf3d3d;
}

#scoreDisplay #score {
    font-size: 2rem;
    font-weight: bold;
    color: #cf3d3d;
}
